<div class="about_me_container">
  <p>Carly este creat de Szasz Francisc, un dezvoltator software din Brașov, România. Este o platformă creată cu scopul de a eficientiza procesul de înmatriculare al vehiculelor, eliminând birocrația și timpul pierdut.
    <br>
    <br>
  Carly este creată cu o arhitectură de tip:
  <br>
  <strong>CLOUD-NATIVE SERVERLESS WEB SPA</strong>
</p>
<p>
  Construită cu Angular și Angular Material pe partea de frontend, Firebase BaaS ca și serviciu backend și servicii integrate pentru plăți, autentificare, notificări și managementul fișierelor.
</p>
<p class="icons">
  <img style="height: 6rem;" src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/development/angular-lixnhfr96of9pzu74pg1er.png/angular-kadcv3i8gca6lgl4bwtcq.png?_a=DATAdtXyZAA0" alt="Angular">
  <img style="height: 3rem;" src="https://icons.veryicon.com/png/o/miscellaneous/o2o-middle-school-project/plus-104.png" alt="">
  <img style="height: 6rem;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyyCZaGOhwHo-Dg-IPSnBcA2KgCeDWRWoI1c8_IdLUpDvI0pZ-QJtanAhrDIUNAZyq05M&usqp=CAU" alt="Firebase">
</p>
</div>
