<h1>omgsigndoghinjo</h1>
<div class="form-field">
  <mat-form-field color="accent" class="wide-input">
    <mat-label>Nume</mat-label>
    <input matInput maxlength="15" placeholder="Popescu" required name="ownerName"  />
  </mat-form-field>
</div>

<div class="form-field">
  <mat-form-field color="accent" class="wide-input">
    <mat-label>Prenume</mat-label>
    <input matInput maxlength="15" placeholder="Daniel" required name="ownerSurname" />
  </mat-form-field>
</div>

<div class="form-field">
  <mat-form-field color="accent" class="wide-input">
    <mat-label>Numar inmatriculare</mat-label>
    <input matInput type="tel" minlength="10" maxlength="10" placeholder="0712345678" required name="ownerPhone"/>
  </mat-form-field>
</div>


