<div class="app_container">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <h2>Programare ITP/RAR</h2>
    <mat-form-field>
      <mat-label>Serviciu</mat-label>
      <mat-select
        name="service"
        [(ngModel)]="selectedService"
        required
        (selectionChange)="onDateOrServiceChange()"
      >
        <mat-option value="ITP">ITP</mat-option>
        <mat-option value="RAR">RAR</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Companie</mat-label>
      <mat-select name="company" [(ngModel)]="selectedCompany" required>
        <mat-option *ngFor="let company of companies" [value]="company">
          {{ company }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        name="date"
        [(ngModel)]="selectedDate"
        required
        (dateChange)="onDateOrServiceChange()"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ora</mat-label>
      <mat-select name="time" [(ngModel)]="selectedTime" required>
        <mat-option *ngFor="let time of availableTimes" [value]="time">
          {{ time }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox name="pickupReturn" [(ngModel)]="pickupAndReturn">
      Ridicare & Returnare vehicul
    </mat-checkbox>

    <div *ngIf="pickupAndReturn">
      <mat-form-field>
        <mat-label>Localitate</mat-label>
        <mat-select name="pickupCity" [(ngModel)]="pickupCity" required>
          <mat-option value="Brașov">Brașov</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Adresă Ridicare</mat-label>
        <input
          matInput
          name="pickupAddress"
          [(ngModel)]="pickupAddress"
          required
        />
      </mat-form-field>
      <p>Taxă pickup&return: <strong>100 Lei</strong></p>
    </div>
    <p>Taxe servicii: <strong>160 Lei</strong></p>
    <button mat-raised-button color="primary" type="submit">Programează</button>
  </form>

  <div class="app_history_container">
    <h2 class="margin_bro">Programări active</h2>
    <div class="margin_bro" *ngIf="userAppointments.length === 0">
      Nu aveți programări făcute.
    </div>
    <div *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div class="appointment_list">
      <div
        class="appointment_item"
        *ngFor="let appt of userAppointments | orderByDate"
      >
        <p><strong>Serviciu:</strong> {{ appt.service }}</p>
        <p><strong>Data:</strong> {{ appt.date | date : "mediumDate" }}</p>
        <p><strong>Ora:</strong> {{ appt.time }}</p>
        <p><strong>Companie:</strong> {{ appt.company }}</p>
        <p *ngIf="appt.pickupAndReturn">
          <strong>Ridicare din:</strong> {{ appt.pickupDetails?.city }},
          {{ appt.pickupDetails?.address }}
        </p>
        <mat-icon>cancel</mat-icon>
      </div>
    </div>
  </div>
</div>
