.app_container {
    display: flex;
}
form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.241);
    text-align: center;
    background-color: white;
    text-align: left;
}
.appointment_list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}
.appointment_item {
    background-color: yellow;
    padding: 1rem;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.736);
    width: 14rem;
    position: relative;
    max-height: 10rem;
}
.appointment_item mat-icon {
    position: absolute;
    top: 4%;
    right: 3%;
    cursor: pointer;
}
.appointment_item .delete {
    position: absolute;
    top: 82%;
    right: 2%;
}
.margin_bro {
    margin-left: 1rem;
}
.app_history_container {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    margin-left: 0;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.251);
}
@media screen and (max-width:600px) {
  .app_container {
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 8rem;
    width: 100%;
}
.appointment_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.app_history_container {
  margin: 1rem;
}
form {
  width: unset;
}
}
