<div class="dashboard">
  <app-profile></app-profile>
</div>
<div class="dashboard-links">
  <button
    class="mat"
    mat-flat-button
    routerLink="/admin"
    routerLinkActive="active"
    mat-raised-button
    style="background-color: rgba(255, 0, 0, 0.363) !important"
    *ngIf="isAdmin === true"
  >
    <mat-icon>feedback</mat-icon>Cereri înmatriculare
  </button>
  <button
    class="mat"
    mat-flat-button
    routerLink="/profile"
    routerLinkActive="active"
  >
    <mat-icon>account_circle</mat-icon>Profilul meu
  </button>
  <button
    class="mat"
    mat-flat-button
    routerLink="/register-vehicle"
    routerLinkActive="active"
  >
    <mat-icon>directions_car</mat-icon>Înmatriculare/radiere
  </button>
  <button
    class="mat"
    mat-flat-button
    routerLink="/radiate-vehicle"
    routerLinkActive="active"
  >
    <mat-icon>delete_sweep</mat-icon>Radiază vehicul
  </button>
  <button
    class="mat"
    mat-flat-button
    (click)="openBookingPage()"
    routerLink="/technical-appointment"
    routerLinkActive="active"
  >
    <mat-icon>schedule</mat-icon>Programare Inspecție Tehnică
  </button>
  <button
    class="mat"
    mat-flat-button
    routerLink="/reserve-container"
    routerLinkActive="active"
  >
    <mat-icon>confirmation_number</mat-icon>Rezervare număr

  </button>
  <button
    class="mat"
    mat-flat-button
    routerLink="/taxes"
    routerLinkActive="active"
  >
    <mat-icon>payment</mat-icon>Plătește taxe
    <strong style="color: red">(beta)</strong>
  </button>
  <button
    class="mat"
    mat-flat-button
    routerLink="/contact"
    routerLinkActive="active"
  >
    <mat-icon> phone</mat-icon>Contact
  </button>
  <button
    class="mat"
    mat-flat-button
    routerLink="/help"
    routerLinkActive="active"
  >
    <mat-icon>help</mat-icon>Ajutor
  </button>
</div>
