.dashboard {
  background-color: #0080ff52;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem;
}

.mat {
  display: flex !important;
  width: 100%;
  display: flex;
  justify-content: start;
}
.dashboard-links {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  margin: 1rem 0.5rem;
}
