<div class="dashboard">
  <app-profile></app-profile>
  <div class="dashboard-links">
    <button class="mat" mat-flat-button>
      <mat-icon>account_circle</mat-icon>Profilul meu
    </button>
    <button class="mat" mat-flat-button>
      <mat-icon>directions_car</mat-icon>Înmatriculare vehicul
    </button>
    <button class="mat" mat-flat-button>
      <mat-icon>delete_sweep</mat-icon>Radiere vehicul
    </button>
    <button class="mat" mat-flat-button>
      <mat-icon>schedule</mat-icon>Programare Inspecție Tehnică
    </button>
    <button class="mat" mat-flat-button>
      <mat-icon>schedule</mat-icon>Rezervare număr
    </button>
    <button class="mat" mat-flat-button>
      <mat-icon>payment</mat-icon>Plătește taxe
    </button>
    <button class="mat" mat-flat-button>
      <mat-icon> phone</mat-icon>Contact
    </button>
    <button class="mat" mat-flat-button><mat-icon>help</mat-icon>Ajutor</button>
  </div>
  <app-numberplate-check></app-numberplate-check>
</div>
