.app-numberplate-check {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  background-color: #d0e7ff;
  border-radius: 0.5rem;
  max-width: 400px;
}
label {
  display: flex;
  flex-direction: column;
}
.nr-inmatriculare {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchnumberplate {
  margin: 0.5rem;
  background-color: #5cadfe;
  display: flex;
}

.input {
  border: none;
  background-image: url("https://i.ibb.co/cbTqN4Q/Romanian-license-plate-B-777-LVF.png");
  background-size: 14rem;
  background-repeat: no-repeat;
  height: 46px;
  width: 190px;
  font-size: 2rem;
  font-weight: bolder;
  margin: 0 2rem;
  padding-left: 2rem;
}

.error {
  color: red;
}

.available {
  color: green;
}
.expansion-panel {
  padding: 0.5rem 0.3rem;
  margin-bottom: 1rem;
  background-color: #0080ff4d;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: none !important;
  box-shadow: none !important;
}
.reserve-numberplate{
  display: flex;
  flex-direction: row;
  margin: 0.5rem;

}

h3 {
  text-align: center;
  width: 100%;
  color: rgb(94, 90, 90);
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .notauth {
    background-color: #5cadfe;
  }
  .app-numberplate-check {
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
  }
  label {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
  }
  .nr-inmatriculare {
    padding: 2rem;
    background-color: #d0e7ff;
  }
  .input {
    border: none;
    background-image: url("https://i.ibb.co/cbTqN4Q/Romanian-license-plate-B-777-LVF.png");
    background-size: 16rem;
    background-repeat: no-repeat;
    height: 53px;
    width: 223px;
    font-size: 2.8rem;
    padding-left: 2rem;
    margin: 0 -1rem;
  }
  h2 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bolder;
    font-size: 1rem;
  }
  .expansion-panel {
    padding: 0.5rem 0.3rem;
    background-color: #0080ff4d;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    transition: none !important;
    box-shadow: none !important;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

}
