.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #424242;
  border-radius: 2px;
  margin: 0 1rem;
}

.history-below {
  margin: 0.5rem;
}
.history-list {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
}

.novehicles {
  color: gray;
  background-color: rgba(23, 212, 184, 0.218);
  border-radius: 4px;
  text-align: center;
}
mat-form-field + mat-form-field {
  margin-left: 8px;
}
h2 {
  color: gray;
}
.example-container {
padding-top: 1rem;
background-color: aliceblue !important;
}
form {
  background-color: aliceblue !important;
}
