.register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.5rem;
  text-align: center;
  border-radius: 2px;
  margin: 3rem 0;
  background-color: white !important;
  border: 1px solid rgba(128, 128, 128, 0.356);
  border-radius: 4px;
  max-width: 45rem;
}
.formabro {
  padding: 1rem 0.5rem !important;
  gap: 1rem;
}
.form-field {
  margin-right: 0.5rem;
}
.titlu_descriere {
  padding-bottom: 1rem;
}

.history-below {
  margin: 0.5rem;
}
.history-list {
  display: flex;
  flex-direction: column;
}

.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
app-uploadcare{
  margin-bottom: 1rem;
}

.novehicles {
  color: white;
  border-radius: 4px;
  text-align: center;
}

h2 {
  color: gray;
  margin-left: 1rem;
  margin-top: 2rem;
}
.example-container {
  background-color: white !important;
}
.error {
  color: red;
}
.green {
  background-color: rgba(0, 255, 0, 0.079);
  padding-top: 1rem;
  margin: 1rem 5rem;
  border-radius: 8px;
  border: 1px solid rgba(0, 128, 0, 0.753);
}
.wide-input{
  width: 400px;
}


@media screen and (max-width:600px) {
  .register-form {
    width: 90vw;
  }
  .formabro {
  padding: 0;
  width: 90vw;
  overflow: none !important;
}

}