<!-- user-profile.component.html -->
<div class="user-profile-container">
  <form class="user-profile-form">
    <h2>Profil Utilizator</h2>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nume</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Prenume</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Telefon</mat-label>
      <input matInput type="number" maxlength="10" minlength="10" required="" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Parolă</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" size>Salvează</button>
  </form>

  <div class="cars-section">
    <h2>Mașinile mele</h2>
    <div class="car-card-list" *ngFor="let vehicle of vehicles">
      <img class="car-image" src="/assets/car.svg" alt="" />
      <div class="car-card-title">
        <h4 class="car-model">
          {{ vehicle.vehicleManufacturer }} {{ vehicle.vehicleModel }}
        </h4>
        <input value="{{ vehicle.vehicleNumberPlate }}" readonly />
      </div>
      <div class="statusuri">
        <p routerLink="/register-vehicle" class="radiate_car_profile">
          Radiază
        </p>
      </div>
    </div>
    <ng-container *ngIf="vehicles.length === 0">
      <p>
        Nu aveți nici-un autovehicul înmatriculat. Pentru a înmatricula un
        autovehicul mergeți pe pagina de
        <span routerLink="/register-vehicle" class="gotoreserve"
          >Înmatriculări.</span
        >
      </p>
    </ng-container>
    <ng-container *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </ng-container>
  </div>

  <div class="cars-section">
    <h2>Rezervările mele</h2>
    <div class="car-card-list" *ngFor="let plate of reservedNumberPlates">
      <div class="reserved_plates_list">
        <input value="{{ plate.reservedVehicleNumberPlate }}" readonly />
      </div>
      <div class="data_valabila_rezervare">
        <p>Valabil până la: {{ plate.availability | date : "shortDate" }}</p>
      </div>
    </div>
    <ng-container *ngIf="reservedNumberPlates.length === 0">
      <p>
        Nu aveți nici-un număr rezervat. Dacă doriți să rezervați un număr
        mergeți la
        <span routerLink="/reserve-container" class="gotoreserve"
          >Rezervări</span
        >.
      </p>
    </ng-container>
    <ng-container *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </ng-container>
  </div>
</div>
