<div class="register-container">
  <div class="red">
    <h1>Inmatriculare vehicul</h1>
    <div class="register-div">
      <form class="example-form">
        <h3>Date despre proprietar</h3>
        <mat-form-field class="example-full-width">
          <mat-label>Numele și Prenumele</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Peter Pan" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
