<div class="register-history">
  <div>
    <div>
      <h2>Interfața de admin</h2>
      <table mat-table [dataSource]="vehicles" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="ownerName">
          <th mat-header-cell *matHeaderCellDef>Nume Prenume</th>
          <td mat-cell *matCellDef="let vehicle">
            {{ vehicle.ownerName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vehicleManufacturer">
          <th mat-header-cell *matHeaderCellDef>Autovehicul</th>
          <td mat-cell *matCellDef="let vehicle">
            {{ vehicle.vehicleManufacturer }}
          </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let vehicle">{{ vehicle.date }}</td>
        </ng-container>

        <!-- placute Column -->
        <ng-container matColumnDef="numberPlate">
          <th mat-header-cell *matHeaderCellDef>Nr. Înmatriculare</th>
          <td mat-cell *matCellDef="let vehicle">
            {{ vehicle.vehicleNumberPlate }}
          </td>
        </ng-container>

        <!-- details Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef>Detalii</th>
          <td mat-cell *matCellDef="let vehicle">
            <mat-form-field style="margin-top: 1rem">
              <mat-label>Motivul respingerii</mat-label>
              <mat-select>
                <mat-option value="">Lipsă asigurare</mat-option>
                <mat-option value="">Lipsă CI</mat-option>
                <mat-option value="">Lipsă contract</mat-option>
                <mat-option value="">Lipsă dovada plății talon</mat-option>
                <mat-option value="">Date incorecte</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button
                mat-raised-button
                class="logout"
                style="background-color: red; margin-bottom: 1rem"
              >
                <mat-icon>restore</mat-icon>
                Respinge
              </button>
              <button
                mat-raised-button
                class="logout"
                style="
                  background-color: green;
                  margin-bottom: 1rem;
                  margin-left: 1rem;
                "
              >
                <mat-icon>file_copy</mat-icon>
                Aprobă
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
