.register-history {
  padding: 0 2rem;
  border-radius: 0.5rem;
}

.status-acceptat {
  background-color: rgba(64, 255, 0, 0.758);
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.status-respins {
  background-color: rgba(255, 0, 0, 0.758);
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.status-asteptare {
  background-color: rgba(180, 200, 174, 0.758);
  padding: 0.3rem;
  border-radius: 0.3rem;
}
h2 {
  margin: 1rem;
  color: gray;
}
table {
  width: 100%;
}

.admin-power {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
button {
border-radius: 50%;
border: none;
background-color: transparent;
cursor: pointer;
padding: 0.8rem;
}
button:hover {
  background-color: rgba(223, 222, 222, 0.603);
}
.action-btns{
  width: 14rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  align-items: center;
}
