<div class="register-container">
  <div class="app-numberplate-check">
    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <h3 style="color: rgb(36, 33, 33)">Rezervare număr înmatriculare</h3>
      </mat-expansion-panel-header>
      <p>
        Pentru a rezerva un număr de înmatriculare, după ce vă asigurați că
        numărul este disponibil, apăsați pe butonul
        <span style="font-weight: bolder">Rezervă</span>
      </p>
      <p>
        După ce ați apăsat pe butonul
        <span style="font-weight: bolder">Rezervă</span> veți fi redirecționat
        spre pagina de plată.
      </p>
      <p>
        Rezervarea numărului de înmatriculare se face pentru perioada de
        <span style="font-weight: bolder">7 zile.</span>
      </p>
      <p *ngIf="(auth.isAuthenticated$ | async) === false">
        Pentru a rezerva un număr trebuie să fii logat în cont.
      </p>
    </mat-expansion-panel>

    <form class="nr-inmatriculare" #form="ngForm">
      <input
        type="text"
        class="input"
        oninput="this.value = this.value.toUpperCase()"
        minlength="7"
        maxlength="7"
        name="userInput"
      />
      <div class="div-pret">
        <h3>
          Prețul rezervării:
          <span class="pret">Lei 7,99</span>
        </h3>
      </div>
      <ng-conntainer *ngIf="plateExists">
        <p>
          <strong class="error">Numărul nu este disponibil</strong>
        </p>
      </ng-conntainer>
      <ng-container *ngIf="!plateExists">
        <p>
          <strong class="available">Numărul este disponibil</strong>
        </p>
      </ng-container>
    </form>
    <div class="reserve-numberplate">
      <button mat-raised-button class="searchnumberplate" style="color: white">
        <mat-icon>search</mat-icon>
        Caută
      </button>
      <button
        type="submit"
        style="background-color: green; color: white"
        mat-raised-button
        class="reserve-numberplate"
        (click)="onCreateReservation(userInput)"
      >
        <mat-icon>save</mat-icon>
        Rezervă
      </button>
    </div>
  </div>
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <div class="reserved-numberplates-history" *ngIf="dataSource.length">
    <table [dataSource]="vehicles" mat-table class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="Nr. înmatriculare">
        <th mat-header-cell *matHeaderCellDef>Nr. înmatriculare</th>
        <td mat-cell *matCellDef="let vehicle">
          {{ vehicle.vehicleNumberPlate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Rezervat în data">
        <th mat-header-cell *matHeaderCellDef>Rezervat în data</th>
        <td mat-cell *matCellDef="let vehicle">
          {{ vehicle.ownerSurname }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Valabil până la data">
        <th mat-header-cell *matHeaderCellDef>Valabil până la data</th>
        <td mat-cell *matCellDef="let vehicle">
          {{ vehicle.ownerPhone }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
