<div class="register-history">
  <div>
    <div
      [ngClass]="{
        vehicleStatus:
          vehicle.status === 'Acceptat' ||
          vehicle.status === 'Respins' ||
          vehicle.status === 'În așteptare'
      }"
    >
      <mat-icon> directions_car</mat-icon>
      <h2>{{ vehicle.vehicleManufacturer + " - " + vehicle.vehicleModel }}</h2>
      <p>{{ vehicle.vehicleNumberPlate }}</p>
    </div>
    <ng-container [ngSwitch]="vehicle.status">
      <span *ngSwitchCase="'Acceptat'" class="status-acceptat">{{
        vehicle.status
      }}</span>

      <span *ngSwitchCase="'Respins'" class="status-respins">{{
        vehicle.status
      }}</span>

      <span *ngSwitchCase="'În așteptare'" class="status-asteptare">{{
        vehicle.status
      }}</span>
    </ng-container>
  </div>
</div>
