<div class="main-container">
  <nav class="nav">
    <h2 class="logo">Carly</h2>
    <app-login></app-login>
  </nav>
  <div class="container">
    <div class="homepage-content">
      <div class="spinner" *ngIf="auth.isLoading$ | async"><mat-spinner></mat-spinner></div>

      <mat-sidenav-container
        class="example-container"
        *ngIf="auth.isAuthenticated$ | async"
      >
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav1">
          <app-dashboard></app-dashboard>
          <mat-spinner class="spinner" *ngIf="auth.isLoading$ | async"></mat-spinner>
        </mat-sidenav>

        <mat-sidenav-content class="sidenav">
          <button mat-button (click)="sidenav.toggle()" class="nav-opener">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
        <app-dashboard></app-dashboard>
      </mat-sidenav-container>
    </div>
  </div>
  <div *ngIf="(auth.isAuthenticated$ | async) === false" class="home">
    <div class="notauth">
      <h2>Înmatriculare vehicule</h2>
    <p>Pentru a înmatricula un vehicul trebuie să fii logat în contul tău.</p>
     <form #form="ngForm">
     <button mat-raised-button class="programeaza">
       <mat-icon >border_color</mat-icon>
       înmatriculare
     </button>
     </form>
    </div>

    <div class="notauth">
      <h2>Radiere vehicule</h2>
    <p>Pentru a radia un vehicul trebuie să fii logat în contul tău.</p>
     <form #form="ngForm">
     <button mat-raised-button color="warn" class="programeaza">
       <mat-icon >border_color</mat-icon>
       Radiază
     </button>
     </form>
    </div>

    <div class="notauth">
      <h2>Programare inspecție tehnică periodică sau RAR</h2>
     <form #form="ngForm">

     <button mat-raised-button class="programeaza">
       <mat-icon >border_color</mat-icon>
       Programează
     </button>
     </form>
    </div>
  </div>
</div>
