<div class="main-container">
  <nav class="nav">
    <h2 class="logo">Carly</h2>
    <app-login></app-login>
  </nav>
  <div class="container">
    <div class="homepage-content">
      <div class="spinner" *ngIf="auth.isLoading$ | async">
        <mat-spinner></mat-spinner>
      </div>

      <mat-sidenav-container
        class="example-container"
        *ngIf="auth.isAuthenticated$ | async"
      >
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav1">
          <app-dashboard></app-dashboard>
          <mat-spinner
            class="spinner"
            *ngIf="auth.isLoading$ | async"
          ></mat-spinner>
        </mat-sidenav>

        <mat-sidenav-content class="sidenav">
          <button mat-button (click)="sidenav.toggle()" class="nav-opener">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
        <app-dashboard></app-dashboard>
      </mat-sidenav-container>
    </div>
  </div>
  <div *ngIf="(auth.isAuthenticated$ | async) === false" class="home">
    <div>
      <h2>Bun venit pe carly!</h2>
      <h3>
        Pentru operațiunile de mai jos, vă rugăm autentificați-vă în contul de
        utilizator. Dacă nu aveți un cont, puteți creea unul pe pagina de
        logare/autentificare.
      </h3>
    </div>

    <div class="carly_operatiuni">
      <div class="notauth">
        <h2>Înmatriculare vehicule</h2>
        <form #form="ngForm">
          <button
            (click)="auth.loginWithRedirect()"
            mat-raised-button
            color="primary"
            class="programeaza"
          >
            <mat-icon>border_color</mat-icon>
            înmatriculare
          </button>
        </form>
      </div>

      <div class="notauth">
        <h2>Radiere vehicule</h2>
        <form #form="ngForm">
          <button
            (click)="auth.loginWithRedirect()"
            mat-raised-button
            color="warn"
            class="programeaza"
          >
            <mat-icon>border_color</mat-icon>
            Radiază
          </button>
        </form>
      </div>

      <div class="notauth">
        <h2>Rezervare număr</h2>
        <form #form="ngForm">
          <button
            (click)="auth.loginWithRedirect()"
            mat-raised-button
            color="primary"
            class="programeaza"
          >
            <mat-icon>border_color</mat-icon>
            Rezervă
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
